<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link id="game-icon" rel="icon" type="image/x-icon" href="{{icon}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <style>
            html, body {
                position: absolute;
                background-color: black;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: clip;
                margin: 0;
            }
            #canvas {
                display: block;
            }
        </style>
        <script src="./sql-wasm.js" defer></script>
        <script type="module" src="./load-game.js"></script>
    </head>
    <body>
        <canvas id="canvas"></canvas>
    </body>
</html>